@charset "UTF-8";

/* all */
	::-webkit-scrollbar-track{background:#eee;}
	::-webkit-scrollbar{width:5px; height:5px; background:#f2f2f2;}
	::-webkit-scrollbar-thumb{background:#fdd000;}
	::-moz-selection{background:#fdd000; color:#1c1c1b;}
	::selection{background:#fdd000; color:#1c1c1b;}
	.progress{position:fixed; top:0; left:0; border-radius:100px; height:3px; background:#fdd000; width:0%; z-index:999999;}
	html, body{font-weight:300; letter-spacing:normal; word-break:keep-all; width:100%; text-align:left; font-size:16px; color:#1c1c1b; line-height:1.4; margin:0; padding:0; font-family:'Noto Sans KR','Noto Sans','sans-serif','MalgunGothic','Malgun Gothic','NanumGothic','Helvetica','Tahoma','Arial','Dotum','DotumChe';}
	body{transition:ease-in-out 400ms padding; font-smoothing:antialiased; -webkit-font-smoothing:antialiased; -moz-font-smoothing:unset; -moz-osx-font-smoothing:grayscale; font-smoothing:antialiased; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; backface-visibility:hidden;}
	h1,h2{padding:0; margin:0; display:inline-block; font-weight:normal;}
	a, a:link, a:focus, textarea, button, input, select{outline:none; resize:none; border:0px; text-decoration:none;  -webkit-appearance:none; -webkit-border-radius:0;}
	a, a:link, a:focus{text-decoration:none; color:inherit; cursor:pointer;}
	a:visited {color: inherit; }
	textarea, button, input, select{font-family:'Lato', 'Noto Sans KR', sans-serif;}
	button, input[type="button"], input[type="submit"]{cursor:pointer;}
	*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
	img{border:0; max-width:100%; vertical-align:middle; image-rendering:-webkit-optimize-contrast;}
	img[usemap]{max-width:100%; height:auto;}
	table, td, th{border-spacing:0px; padding:0px; text-align:inherit;}
	ul, li{list-style:none; padding:0px; margin:0px;}
	p{margin:30px 0;}
	p:first-child{margin-top:0;}
	p:last-child{margin-bottom:0;}
	b{font-weight:700;}
	.float_right{float:right;}
	.underline{text-decoration:underline;}
	.fa, .fas, .icons{vertical-align:baseline;}
	.material-icons{vertical-align:bottom; font-size:1.3em;}
	.wrap{width:100%;}
	.none{display:none !important;}
	.block{display:block;}
	.hidden{overflow:hidden;}
	.pc{display:block !important; margin:0 auto;}
	.m{display:none !important; margin:0 auto;}
	.wfull{width:100%;}
	.w1280{width:1280px; margin:0 auto;}
	.color{color:#fdd000 !important;}
	.color_w{color:#fff;}
	.color_b{color:#000;}
	.bg_color{background:#fdd000; color:#1c1c1b; padding:0.5% 1%;}
	.red{color:#ff0000 !important;}
	.left0{left:0 !important;}
	.right0{right:0 !important;}
	.weight400{font-weight:400 !important;}
	.weight500{font-weight:500 !important;}
	.text_center{text-align:center;}
	.text_left{text-align:left !important;}
	.text_right{text-align:right;}
	.table0{display:table; width:100%; height:100%; border-spacing:0;}
	.table10{display:table; width:100%; border-spacing:10px;}
	.cell{display:table-cell; vertical-align:middle;}
	.cell_top{display:table-cell; vertical-align:top;}

	.inline{display:inline-block; vertical-align:middle;}
	.inline20{display:inline-block; vertical-align:top; width:20%; padding-right:5px; float:left;}
	.inline25{display:inline-block; vertical-align:top; width:25%; padding-right:5px; float:left;}
	.inline33{display:inline-block; vertical-align:top; width:33.33%; padding:0 15px; float:left;}
		.inline33:first-child{padding-left:0; padding-right:30px;}
		.inline33:last-child{padding-right:0; padding-left:30px;}
	.inline50{display:inline-block; vertical-align:top; width:50%; padding-right:15px; float:left;}
		.inline50:last-child{display:inline-block; width:50%; padding-left:15px; padding-right:0px; float:left;}
	.inline66{display:inline-block; vertical-align:top; width:66.66%; padding-right:15px; float:left;}
	.inline80{display:inline-block; vertical-align:top; width:80%; padding-right:5px; float:left;}
	.overlay{position:fixed; top:0; left:0; height:100%; width:100%; background:#1c1c1b; opacity:0.7; z-index:9;}
	.close_wrap{cursor:pointer; position:absolute; right:0; top:50%; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); width:25px; height:25px; z-index:5;}
	.close_wrap .close:before, .close_wrap .close:after{position:absolute; left:15px; content:''; height:25px; width:2px; background:#fff;}
		.close_wrap .close{opacity:1;}
		.close_wrap .close:before{transform:rotate(45deg);}
		.close_wrap .close:after{transform:rotate(-45deg);}
	.plus_wrap{position:absolute; right:5px; top:50%; width:30px; height:30px; margin:0 auto; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
		.plus_wrap .plus:before, .plus_wrap .plus:after{content:""; position:absolute; background:rgba(0,0,0,0.7);}
			.plus_wrap .plus:before{left:50%; top:5px; bottom:5px; width:1px; transform:translateX(-50%);}
			.plus_wrap .plus:after{top:50%; left:5px; right:5px; height:1px; transform:translateY(-50%);}
	.bottom_banner{position:fixed; right:10px; bottom:10px; width:100%; max-width:65px; z-index:9;}
		.bottom_banner img{width:100%;}

	.robo{font-family:'Roboto', NanumSquareR; font-weight:900 !important; line-height:1 !important; letter-spacing:-1px !important;}
		.robo h1, .robo h2{font-weight:900 !important;}

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-box-shadow:0 0 0px 1000px none inset;
		transition:background-color 5000s ease-in-out 0s;
	}

	/* btn */
		.input_btn_wrap{}
			.btn{font-family:'Noto Sans kr',sans-serif; background:#fff; border:1px solid #e0e0e0; font-weight:400; font-size:12px; text-align:center; padding:0px 20px; width:100%; height:100%; font-weight:500; cursor:pointer; font-weight:500; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -o-transition:All 0.2s ease; -ms-transition:All 0.2s ease; overflow:hidden;}
			.btn1{background:#fdd000; color:#1c1c1b; border:0;}
				.btn1:hover{background:#ffdf43;}
			.btn2{background:#1c1c1b; color:#fff; border:1px solid #1c1c1b;}
				.btn2:hover{background:#703614; border:1px solid #703614;}
			.btn3{background:none; border:1px solid #fdd000; color:#fdd000;}
				.btn3:hover{background:#fdd000; color:#fff;}
			.btn4{background:none; border:1px solid #fff; color:#fff;}
				.btn4:hover{background:#fff; color:#222;}
			.btn5{background:none; border:1px solid #1c1c1b; color:#1c1c1b;}
				.btn5:hover{background:#fdd000; border:1px solid #fdd000;}
			.btn_ani:hover{-webkit-transform:translateY(-4px); -moz-transform:translateY(-4px); -ms-transform:translateY(-4px); transform:translateY(-4px);}

	/* animation */
		.animation01{animation-delay:0.0s !important;}
		.animation02{animation-delay:0.2s !important;}
		.animation03{animation-delay:0.4s !important;}
		.animation04{animation-delay:0.6s !important;}
		.animation05{animation-delay:0.8s !important;}
		.animation06{animation-delay:1.0s !important;}
		.animation07{animation-delay:1.2s !important;}
		.animation08{animation-delay:1.4s !important;}
		.animation09{animation-delay:1.6s !important;}
		.animation10{animation-delay:1.8s !important;}
		.animation11{animation-delay:2.0s !important;}
		.animation12{animation-delay:2.2s !important;}
		.animation13{animation-delay:2.4s !important;}
		.animation14{animation-delay:2.6s !important;}
		.animation14{animation-delay:2.8s !important;}
		.animation14{animation-delay:3.0s !important;}

		@-webkit-keyframes fadeEffect {
			from{opacity:0; -webkit-transform:translateY(20px); transform:translateY(20px);}
			to{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
		}
		@keyframes fadeEffect{
			from{opacity:0; -webkit-transform:translateY(20px); transform:translateY(20px);}
			to{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
		}
		.fade.fade_in{-webkit-animation:fadeEffect 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1) forwards; animation:fadeEffect 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1) forwards;}

		.flex_slider_opacity_none{opacity:0 !important; transition-duration:0.0s !important;}


	/* scroll */
		.scroll_down_icon{color:#fff; position:absolute; z-index:1; bottom:0; left:50%; transform:translate(-50%,-50%); animation:scroll_down_icon_move 1.5s linear infinite; cursor:pointer;}
			.scroll_down_text{margin-top:5px;}
			.scroll_down_icon_mouse{margin:0 auto; display:block; border-radius:50px; border:2px solid #fff; height:50px; width:25px; position:relative;}
				.scroll_down_icon_mouse_move{position:absolute; background-color:#fff; height:8px; width:4px; border-radius:100px; left:50%; transform:translateX(-50%); animation:scroll_down_icon_mouse_move 2s linear infinite;}
				@keyframes scroll_down_icon_mouse_move {
					0% {transform:translate(-50%,5px); opacity:0;}
					50% {transform:translate(-50%,15px); opacity:1;}
					100% {transform:translate(-50%,30px); opacity:0;}
				}
				@keyframes scroll_down_icon_move {
					0% {bottom:10px; opacity:1;}
					50% {bottom:0; opacity:0.2;}
					100% {bottom:10px; opacity:1;}
				}

	/* nav */
		.nav_wrap{position:fixed; right:30px; top:50%; z-index:2; text-align:center; font-size:0.9em; z-index:1000;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
			.nav_wrap .nav ul li{background:#1c1c1b; color:#fff; overflow:hidden; width:110px; height:110px; border-radius:100%; box-shadow:0px 5px 10px 0px rgba(0,0,0,0.3); margin-bottom:15px;}
				.nav_wrap .nav ul li:nth-child(2){color:#fdd000;padding:10px;}
				.nav_wrap .nav ul li:nth-child(2):hover{color:#000;}
				/*.nav_wrap .nav ul li:first-child{font-weight:500;color:#1c1c1b;background:#fff;border:1px solid #1c1c1b;padding:10px;}*/
				.nav_wrap .nav ul li:last-child{margin-bottom:0;}
				.nav_wrap .nav ul li .cont_text{margin:4px;}
				.nav_wrap .nav ul li .cont_text_title{font-size:1.4em;}
				.nav_wrap .nav ul li i{font-size:2.4em;}
				.nav_wrap .nav ul li img{width:100%; max-width:100px;}
				.nav_wrap .nav ul li a{display:block; height:100%; width:100%;}
					.nav_wrap .nav ul li:hover{background:#fdd000; color:#1c1c1b;}

		.nav_quick{display:none;}

	/* search_icon */
		.search_icon{cursor:pointer; position:absolute; top:45%; right:20px; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
			.search_icon .bar{position:relative; height:15px; width:15px; margin:0 auto;}
				.search_icon .bar::before, .search_icon .bar::after{content:''; position:absolute; display:block; transition:all 0.1s;}
				.search_icon .bar::before{border:2px solid #000; border-radius:50%; width:100%; height:100%; left:-2px; top:-2px;}
				.search_icon .bar::after{height:2px; width:8px; background:#000; border-radius:100px; top:15px; left:12px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}


/* modal CSS */
.modal-search-body {}
.modal-search-body .search-container-inputBox {width:100%;padding:10px 0;height:50px; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);margin-bottom:60px;}
.modal-search-body .search-container-inputBox li:first-child{width:70%;text-align:left;padding-right:2%}
.modal-search-body .search-container-inputBox li{float:left;width:27%;padding-right:1%}
.modal-search-body .modal-sub-title {font-size:16px;line-height:50px;font-weight:800px;text-align:center;text-shadow: 1px 1px #fdd000;}
.modal-search-body .search-keword > div {background:url('../img/subSearch.png') no-repeat 0% 50%;background-size: 21px 21px;background-size:auto 21px;margin-left:20px;line-height:30px;font-size:15px;text-indent: 30px;}
.modal-search-body .search-keword > div > span{float:right;margin-right:30px;}



/* order menu */
	.head_wrap .head .top_search {text-indent:-100px;vertical-align: top;border: none;position:relative;right:75px;top:1px;z-index:2;width:21px;height:21px;overflow:hidden;background:url('../img/search.png') no-repeat 50% 50%;background-size: 21px 21px;background-size:auto 21px;box-sizing:border-box;margin-top:24px;}
	.head_wrap .head .top_login {text-indent:-100px; position: relative;vertical-align: top;border: none;right: 0px;top:1px;z-index:2;background: url('../img/my_page.png')  no-repeat 50% 50%;width:21px;height:21px;overflow:hidden;background-size:auto 21px;box-sizing:border-box;margin-top:24px;}
	.menuBox {width:100%;/*background-color:#fff;*/height:50px; z-index:100;margin-bottom:5px;}
	.topMenuSwiper {width:100%;height:50px;}
	
    .topMenuSwiper .swiper-slide {
      text-align: center;
      font-size: 15px;
	 line-height:0px;
      /* background: #fff;*/
      display: flex;
      justify-content: center;
      align-items: center;
	 width:100px;
      color:#000000 !important;
    }
     .topMenuSwiper .swiper-slide.on{
      border-bottom:3px solid #fdd000 !important;
	 font-weight: 600;
	}
    .topMenuSwiper .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
/* head */

     .head_title {position:absolute;top:0;left:20px;font-size:20px;font-weight:600;color:#6f6f6f; text-shadow: 1px 1px #fdd000;line-height:80px;height:80px;}
     .mobile_top_icon_wrap {position:absolute;top:0;right:-20px}
     .mobile_top_icon_wrap > div {right:0;float:right;margin:5px 5px ;}

	.head_wrap{background:#fff; position:fixed; top:0; width:100%; margin:auto 0; z-index:999; vertical-align:middle; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1); /*padding:0px 20px;*/text-align:center; transition: All 0.2s ease; -webkit-transition: All 0.2s ease; -moz-transition: All 0.2s ease; -o-transition: All 0.2s ease;}

	.head_over{background:#fff !important; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1) !important;}
	.head_fixed{background:#fff !important; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1) !important;}
		.head_wrap .head{width:100%; max-width:1280px; margin:0 auto; position:relative; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1); transition: All 0.2s ease; -webkit-transition: All 0.2s ease; -moz-transition: All 0.2s ease; -o-transition: All 0.2s ease;}
			.head_wrap .head .head_logo{width:200px; position:absolute; top:30px; left:0;}
				.head_wrap .head .head_logo .head_logo_img{display:none;}
				.head_wrap .head .head_logo .head_logo_img_fixed{display:block;width:80px;}
				.head_fixed .head .head_logo .head_logo_img{display:none !important;}
				.head_fixed .head .head_logo .head_logo_img_fixed{display:block !important;}
				.head_over .head .head_logo .head_logo_img{display:none;}
				.head_over .head .head_logo .head_logo_img_fixed{display:block;}
			.head_wrap .head .head_menu{width:100%; padding:0px 300px;}
				.head_wrap .head .head_menu > ul{display:table; width:100%;}
					.head_wrap .head .head_menu > ul > li{display:table-cell; width:16.66%; vertical-align:top;}
						.head_wrap .head .head_menu > ul > li > a{display:block; padding:40px 0; position:relative; font-weight:500; font-size:1.1em;}
						.head_wrap .head .head_menu > ul > li > a:after{content:""; position:absolute; left:0; bottom:0; width:0; height:1px; background:#1c1c1b; left:50%; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0); transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
							.head_wrap .head .head_menu > ul > li:hover a:after{width:50%;}
							.head_wrap .head .head_menu > ul > .check{background:#fdd000;}
							.head_wrap .head .head_menu > ul > .check a:after{width:50%;}
			.head_wrap .head .head_sns{position:absolute; top:30px; right:0;}
				.head_wrap .head .head_sns ul li{box-shadow:0px 0px 0px px #1c1c1b; border-radius:100%; text-align:center; margin-top:0;}
					.head_wrap .head .head_sns ul li a{display:block; padding:3px; position:relative;}
					.head_wrap .head .head_sns ul li:hover{background:#fdd000; box-shadow:0px 0px 0px 2px #fdd000;}
					.head_wrap .head .head_sns ul li a span{background:#000; color:#fff; border-radius:100px; padding:2px 6px; font-size:11px; top:90%; position:absolute; left:50%; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0);}

			.head_menu_down_menu{display:none; font-size:0.9em; font-weight:400;}
				.head_menu_down_menu ul li a{display:block;}
					.head_menu_down_menu ul li a:hover{text-decoration:underline;}
				.head_menu_down_menu{padding:20px;}
				.head_menu_down_menu.check{background:#fdd000;}

/* mobile_menu */
			.mobile_menu_icon_wrap{position:absolute; right:0; top:50%; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); cursor:pointer; text-align:right; z-index:2;}
				.mobile_menu_icon{width:22px; padding:10px 0; position:relative;}
					.mobile_menu_icon .mobile_menu_icon_bar{height:2px; width:22px; border-radius:100px; background:#1c1c1b; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
						.mobile_menu_icon .mobile_menu_icon_bar:before{content:""; position:absolute; top:0; left:0; height:2px; width:22px; border-radius:100px; background:#1c1c1b; margin:4px auto; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
						.mobile_menu_icon .mobile_menu_icon_bar:after{content:""; position:absolute; bottom:0; left:0; height:2px; width:22px; border-radius:100px; background:#1c1c1b; margin:4px auto; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
				.mobile_menu_icon_open .mobile_menu_icon_bar{height:0; background:#fff !important;}
						.mobile_menu_icon_open .mobile_menu_icon_bar:before{background:#fff !important; top:9px; -webkit-transform:rotateZ(-45deg) translateY(-6px); -moz-transform:rotateZ(-45deg) translateY(-6px); -ms-transform:rotateZ(-45deg) translateY(-6px); -o-transform:rotateZ(-45deg) translateY(-6px); transform:rotateZ(-45deg) translateY(-6px); width:25px;}
						.mobile_menu_icon_open .mobile_menu_icon_bar:after{background:#fff !important; bottom:10px; -webkit-transform:rotateZ(45deg) translateY(6px); -moz-transform:rotateZ(45deg) translateY(6px); -ms-transform:rotateZ(45deg) translateY(6px); -o-transform:rotateZ(45deg) translateY(6px); transform:rotateZ(45deg) translateY(6px); width:25px;}
				.mobile_menu_icon_open .mobile_menu_icon_bar{background:#fff !important;}
					.mobile_menu_icon_open .mobile_menu_icon_bar:before{background:#fff !important}
					.mobile_menu_icon_open .mobile_menu_icon_bar:after{background:#fff !important;}

/* cont */
	.cont_wrap{padding:0; padding-top:115px;padding-bottom:100px;min-height:1000px;}
	.main_body .cont_wrap{padding-top:0 !important;}
		.main_body .cont_box{overflow:hidden;}

	.cont_box{padding:100px 0px; width:100%; margin:0 auto; position:relative;}
		/*.cont_box:nth-child(2n-1){background:#fdd000;}*/
		.cont_boxs{width:100%; max-width:1280px; margin:0 auto; margin-bottom:100px;}
			.cont_boxs:last-child{margin-bottom:0;}


		.cont_head{text-align:center; background:#444 !important; color:#fff !important; z-index:1;}
			.cont_head .cont_title_wrap{margin-bottom:20px; text-transform:uppercase;}
				.cont_head .cont_title_wrap .cont_title{margin-bottom:10px;}

		.cont_banner{background:#fdd000; position:relative; overflow:inherit !important; z-index:2; padding:50px 0;}
			.cont_banner:before{position:absolute; z-index:1; content:""; background:#fdd000; width:50px; height:50px; bottom:-25px; left:50%; -webkit-transform:translate(-50%,0) rotate(-45deg); -ms-transform:translate(-50%,0) rotate(-45deg); transform:translate(-50%,0) rotate(-45deg);}
				.cont_banner .cont_title{font-size:1.4em;}

		.cont_title_wrap{font-size:24px; margin-bottom:40px; position:relative;}
			.cont_title_wrap:last-child{margin-bottom:0;}
				.cont_title{font-size:1.8em; line-height:1.2; letter-spacing:-3px;}
					.cont_title h1{font-size:2.8em; text-transform:uppercase;}
					.cont_title h2{font-size:1.4em;}
					.cont_title h3{font-size:1.2em;}

				.cont_title_info{margin:15px 0;}
					.cont_title_info:first-child{margin-top:0;}
					.cont_title_info:last-child{margin-bottom:0;}

			.cont_title_bg{position:relative;}
				.cont_title_bg:before{transition: All 0.4s ease; -webkit-transition: All 0.4s ease; -moz-transition: All 0.4s ease; -o-transition: All 0.4s ease; content:""; position:absolute; background:#fdd000; padding:0px; width:0; height:50%; z-index:-1; top:75%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
				.cont_title_bg2:before{background:#fff;}
				.cont_title_bg_active:before{padding:0px 20px; width:100%;}

			.cont_title_bg3{padding:3px 5px;background:#fdd000;}

		.cont_text_wrap{margin:40px 0;}
			.cont_text_wrap:first-child{margin-top:0;}
			.cont_text_wrap:last-child{margin-bottom:0;}
				.cont_text_box{margin-bottom:20px;}
					.cont_text_box:last-child{margin-bottom:0;}
					.cont_text_title{font-size:1.4em; line-height:1.2;}
						.cont_text_title b{font-weight:400;}
					.cont_text{margin:20px 0;}
						.cont_text:first-child{margin-top:0;}
						.cont_text:last-child{margin-bottom:0;}
					.cont_text_inner{margin:5px 0;}
						.cont_text_inner:first-child{margin-top:0 !important;}
						.cont_text_inner:last-child{margin-bottom:0 !important;}
					.cont_text_inner2{margin:10px 0;}
					.cont_text_info{font-size:0.9em; opacity:0.7;}
					.cont_text_info2{opacity:1;font-weight:400;color:#424242;}
					.cont_text_label{background:#000; color:#fff; font-size:0.6em; padding:2px 8px; border-radius:5px; vertical-align:middle;}


		.cont_list > ul{display:flex; width:100%; flex-wrap:wrap;}
			.cont_list_width > ul{display:table; width:auto; margin:0 auto; text-align:center;}
				.cont_list_width > ul > li{float:none !important;}
			.cont_list_align > ul{margin:0;}
			.cont_list_content_align > ul{align-items:center;}
				.cont_list_content > ul > li{margin-right:50px !important; margin-top:0 !important; width:calc(1 / 2 * 100% - (1 - 1 / 2) * 50px) !important;}
					.cont_list_content > ul > li:nth-child(2n){margin-right:0 !important;}
			.cont_list_content_search > ul > li:last-child .input_btn_wrap{float:right;}

			.cont_list > ul > li{display:inline-block; vertical-align:middle; margin-right:20px; margin-top:20px;}
				.cont_list1 > ul > li{width:100%; margin-right:0;}
					.cont_list1 > ul > li:first-child{margin-top:0;}
				.cont_list2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 20px);}
					.cont_list2 > ul > li:nth-child(-n+2) {margin-top:0;}
					.cont_list2 > ul > li:nth-child(2n){margin-right:0;}
				.cont_list3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 20px);}
					.cont_list3 > ul > li:nth-child(-n+3) {margin-top:0;}
					.cont_list3 > ul > li:nth-child(3n){margin-right:0;}
				.cont_list4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 20px);}
					.cont_list4 > ul > li:nth-child(-n+4) {margin-top:0;}
					.cont_list4 > ul > li:nth-child(4n){margin-right:0;}
				.cont_list5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 20px);}
					.cont_list5 > ul > li:nth-child(-n+5) {margin-top:0;}
					.cont_list5 > ul > li:nth-child(5n){margin-right:0;}
				.cont_list6 > ul > li{width:calc(1 / 6 * 100% - (1 - 1 / 6) * 20px);}
					.cont_list6 > ul > li:nth-child(-n+6) {margin-top:0;}
					.cont_list6 > ul > li:nth-child(6n){margin-right:0;}

				
			.cont_list_small > ul > li{display:inline-block; float:left; margin-right:10px; margin-top:10px;}
				.cont_list_small1 > ul > li{width:100%; margin-right:0;}
					.cont_list_small1 > ul > li:first-child{margin-top:0;}
				.cont_list_small2 > ul > li{width:calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);}
					.cont_list_small2 > ul > li:nth-child(-n+2) {margin-top:0;}
					.cont_list_small2 > ul > li:nth-child(2n){margin-right:0;}
				.cont_list_small3 > ul > li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);}
					.cont_list_small3 > ul > li:nth-child(-n+3) {margin-top:0;}
					.cont_list_small3 > ul > li:nth-child(3n){margin-right:0;}
				.cont_list_small4 > ul > li{width:calc(1 / 4 * 100% - (1 - 1 / 4) * 10px);}
					.cont_list_small4 > ul > li:nth-child(-n+4) {margin-top:0;}
					.cont_list_small4 > ul > li:nth-child(4n){margin-right:0;}
				.cont_list_small5 > ul > li{width:calc(1 / 5 * 100% - (1 - 1 / 5) * 10px);}
					.cont_list_small5 > ul > li:nth-child(-n+5) {margin-top:0;}
					.cont_list_small5 > ul > li:nth-child(5n){margin-right:0;}


		.cont_gallery_list > ul > li{position:relative;}
			.cont_gallery_list > ul > li .cont_gallery_list_box{height:100%;overflow:hidden; border-radius:10px; border:1px solid rgba(0,0,0,0.1); margin:0; background:#fff;}
			.cont_gallery_list2 > ul > li .cont_gallery_list_box{border-radius:0; box-shadow:inherit;}
				.cont_gallery_list > ul > li .cont_gallery_list_box .cont_text_box{padding:8%;}
				.cont_gallery_list2 > ul > li .cont_gallery_list_box .cont_text_box{padding:8% 0;}
				.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img{position:relative; overflow:hidden;}
					.cont_gallery_list > ul > li .cont_gallery_list_box .cont_gallery_list_img img{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%); transition: All 0.1s ease; -webkit-transition: All 0.1s ease; -moz-transition: All 0.1s ease; -o-transition: All 0.1s ease;}
					.cont_gallery_list > ul > li:hover .cont_gallery_list_box .cont_gallery_list_img img{-webkit-transform:translate(-50%,-50%) scale(1.1); -ms-transform:translate(-50%,-50%) scale(1.1); transform:translate(-50%,-50%) scale(1.1);}

				.cont_gallery_list_label{position:absolute; right:10px; bottom:10px; background:#000; color:#fff; padding:5px 15px; z-index:1; border-radius:100px;}
					.cont_gallery_list_label1{background:#ff5a5a;}
					.cont_gallery_list_label2{background:#007eff;}

				.cont_gallery_list .text_wrap .text{word-break:break-word;}


			.cont_gallery_list_end{position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); text-align:center; color:#fff;}





/* foot */
	.foot_awards_wrap{padding:30px; background:#f4f6f8;}
		.swiper_foot .swiper-slide{opacity:1; width:auto;}
			.swiper_foot img{width:100%;}
			.swiper_foot .cell:first-child{width:80px; padding-right:10px;}

	.foot_menu_wrap{background:#fdd000; color:#1c1c1b; padding:20px;}
		.foot_menu_wrap .foot_menu{max-width:1280px; margin:0 auto;}
			.foot_menu_wrap .foot_menu ul li{margin-top:0;}
				.foot_menu_wrap .foot_menu ul li a:hover{text-decoration:underline;}
	
	.foot_wrap{background:#212121; color:#aaa; padding:60px 20px; font-size:0.9em;}
		.foot_wrap .foot{max-width:1280px; margin:0 auto;}
			.foot_logo img{max-width:180px;}
			


@media screen and (max-width:3000px){
	body{position:none; width:100%; left:0; padding-top:0 !important; margin-left:0; font-size:13px;}
	.pc{display:none !important;}
	.m{display:none !important;}

	
	/* nav */
		.nav_wrap{display:block !important;top:auto;bottom:10px;right:10px;-webkit-transform:none;-ms-transform:none;-moz-transform:none;-o-transform:none;transform:none;}
			.nav_wrap .nav_quick{display:block;background:#1c1c1b; color:#fff; width:80px; height:80px; border-radius:50%; box-shadow:0px 5px 10px 0px rgba(0,0,0,0.3); overflow:hidden; margin-top:10px;}
			.nav_wrap .nav_quick img{width:45px;}
			.nav_wrap .nav_quick_close{display:none;position:relative;}
			.nav_wrap .nav_quick_close:before,.nav_wrap .nav_quick_close:after{content:'';position:absolute;top:0;bottom:0;left:0;right:0;display:inline-block;width:25px;height:2px;background:#fff;transform:translate(0px,0px) rotate(45deg);margin:auto;}
			.nav_wrap .nav_quick_close:after{transform:translate(0px,0px) rotate(-45deg)}
			.nav_wrap .nav{display:none;}
			.nav_wrap .nav ul li{width:80px;height:80px;text-align:center;margin-bottom:10px;}


	/* head */
		.head_wrap{height:auto;}
		.head_wrap .head .head_sns{top:50%; right:25px; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%);}
		.head_wrap .head .head_logo{position:relative; top:0; /*padding:15px 0*/width:100%; text-align:center; margin:0 auto;}
			.head_wrap .head .head_logo img{margin:0 auto;}
		.head_menu_wrap{font-size:1.2em; color:#fff; background:#222; overflow-y:scroll; padding:60px; text-align:left; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; top:0; width:100%; z-index:1; height:100%; position:fixed; right:-100%; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1) !important;}
			.head_wrap .head .head_menu{padding:0; text-align:center;}
				.head_wrap .head .head_menu > ul > li{display:table; width:100%; text-align:left; padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid rgba(255,255,255,0.1);}
					.head_wrap .head .head_menu > ul > li > a{padding:15px;}
						.head_wrap .head .head_menu > ul > li > .head_menu_down{display:inline-block !important; width:200px; padding:0; vertical-align:top;}
						.head_wrap .head .head_menu > ul > li > a:after{display:none;}
					.head_menu_logo{text-align:center; margin-bottom:60px;}
						.head_menu_logo img{width:100%; max-width:200px;}
					.head_menu_down_menu{display:inline-block !important; padding:0 !important; color:#aaa;}
						.head_menu_down_menu > ul{display:block;}
							.head_menu_down_menu > ul > li{float:none;}
								.head_menu_down_menu > ul > li a:hover{color:#fff;}



	/* cont */
	
		.cont_wrap{padding:0; padding-top:115px;min-height:1000px;}
		
		.cont_box{padding:60px !important;}


	/* 5P 오더 */
	.cont_wrap .goods_list{margin-top:20px;height:100%;padding-top:30px;}
	.cont_wrap .goods_list .goods_list_title {text-align:center;}

		
}


@media screen and (max-width:760px){
	html, body{font-size:12px;}
.m{display:block !important;}
	/* head */
		/*.head_wrap{height:90px;}*/
		.head_wrap .head .head_logo{position:relative; top:0; /*padding:15px 0;*/ width:100%;}
		.head_wrap .head .head_logo img{margin:0 auto;}
		.head_menu_wrap{top:0; width:240px; padding:60px 30px; font-size:1.1em;}
			.head_wrap .head .head_menu > ul > li{display:block; width:100%; margin-bottom:0; padding-bottom:0; border-bottom:0; margin-bottom:30px;}
				.head_wrap .head .head_menu > ul > li > .head_menu_down{display:block !important; width:100%; position:relative;}
				.head_wrap .head .head_menu > ul > li > .head_menu_down_open{color:#fdd000;}
					.head_wrap .head .head_menu > ul > li > .head_menu_down:before{height:8px; width:8px; position:absolute; top:30%; right:0; margin:0; border:solid rgba(255,255,255,0.5); border-width:0 0 1px 1px; content:""; display:inline-block; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease; -webkit-transform:rotate(-135deg); -ms-transform:rotate(-135deg); transform:rotate(-135deg);}
					.head_wrap .head .head_menu > ul > li > .head_menu_down_open:before{top:20%; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}

			.head_menu_logo{margin-bottom:30px;}
			.head_menu_down_menu{display:block !important; height:auto !important; margin-top:0; padding:0px !important;}
				.head_menu_down_menu ul{display:none; margin-top:15px; padding:0px 20px;}
					.head_menu_down_menu ul li{float:none;}
		.head_sns{display:none;}




	/* map */
		.map_search_wrap{position:relative; max-width:100%; left:0; top:0; -webkit-transform:translate(0,0); -ms-transform:translate(0,0); transform:translate(0,0); box-shadow:inherit;}
			.map_search_wrap .map_search_title_wrap{text-align:center; background:#fff;}
			.map_search_wrap .input_text_wrap label input{box-shadow:0px 0px 0px 1px #ddd;}
			.map_search_wrap .cont_text_box:last-child{border-top:1px solid rgba(0,0,0,0.1);}
			.map_search_wrap .cont_list1{height:auto; max-height:200px;}

			.map_search_wrap .map_search_tab_wrap ul li.check{background:#fff;}
			.map_search_wrap .cont_list2 > ul > li{font-size:14px;}

		.map_point_info_wrap{padding:15px; font-size:12px;}
			.map_point_info_list > ul > li{width:20%;}


		.store_detail_info_list > ul > li{width:25%;}


	/* cont */
		.cont_wrap{padding:0; padding-top:115px;padding-bottom:100px;min-height:1000px;}
			.cont_box{padding:50px 20px !important;}
			
	

	/* main */
		.main_wrap .cont_box .cont_boxs{padding:30px; padding-top:60px;}
		.section_main .swiper-button-next, .section_main .swiper-button-prev{display:none !important;}
		.swiper-slide_img_pc{display:none;}
		.swiper-slide_img_m{display:block;}


		.swiper-slide-youtube_m .section_middle{height:auto;}
		.swiper-slide-youtube_m .section_main_swiper_video_wrap{height:auto;}
		.swiper-slide-youtube_m .section_main_swiper_video .youtube{min-height:auto;}



		.section_menu .cont_gallery_list > ul > li{border-radius:0; font-size:11px; width:calc(1 / 2 * 100% - (1 - 1 / 2) * 15px) !important;}
		.section_menu .section_info_img{border-radius:15px; overflow:hidden;}
		.section_menu .swiper-slide{overflow:inherit !important; font-size:12px;}
		.section_menu .swiper-slide .cont_text_box{display:block; background:#fff;}

		.section_company .cell50{height:50% !important;}
		.section_company .cell50:last-child img{max-width:100%; min-height:inherit; bottom:0; left:0; opacity:0.1; -webkit-transform:translate(0,0); -ms-transform:translate(0,0); transform:translate(0,0);}

		.section_news .cont_gallery_list > ul > li{border-radius:0;}
		.section_news .cont_gallery_list > ul > li > a{display:table; width:100%;}
			.section_news .cont_gallery_list > ul > li .cont_gallery_list_box{border:0; box-shadow:0px 2px 4px 0px rgba(0,0,0,0.1);}
			.section_news .cont_gallery_list > ul > li .cont_gallery_list_img{display:table-cell; vertical-align:middle; width:120px !important; height:auto !important;}
				.section_news .cont_gallery_list > ul > li .cont_gallery_list_img img{-webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
			.section_news .cont_gallery_list > ul > li .cont_text_box{display:table-cell; vertical-align:middle; padding:15px;}


	/* foot */
		.foot_menu_wrap{padding:15px;}


	/* flex_slider */
		.detail_flex_slider_wrap .flex-control-nav{padding:10px;}
		.detail_flex_slider_wrap .flex-control-thumbs li{width:calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);}
			.detail_flex_slider_wrap .flex-control-thumbs li:nth-child(-n+7){margin-top:10px;}
			.detail_flex_slider_wrap .flex-control-thumbs li:nth-child(-n+3){margin-top:0;}
			.detail_flex_slider_wrap .flex-control-thumbs li:nth-child(3n){margin-right:0;}
			.detail_flex_slider_wrap .flex-control-thumbs li:nth-child(7n){margin-right:10px;}
			.detail_flex_slider_wrap .flex-control-thumbs .flex-active{box-shadow:0px 0px 0px 3px #fdd000}
		.detail_flex_slider_text{padding:5px 20px; font-size:10px;}


			
	
}
